<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EulerObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Problem1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Problem10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Problem11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Problem12.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Problem2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Problem3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Problem4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Problem5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Problem6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Problem7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Problem8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Problem9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B517B30B18E6B4E1007AEEA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B517B31B18E6D61D007AEEA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B517B32B18E6DE41007AEEA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B517B33B18E6E028007AEEA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B517B34B18E6E1D3007AEEA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B545248718E5BD5E00967F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B545249818E664E300967F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B54524A818E669A800967F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B54524B818E66B4A00967F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5F0062618E57EFF00A05D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5F0063E18E5837C00A05D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5F0064E18E586DF00A05D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5F0065E18E587AB00A05D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
